.collapsible {
  margin-top: 30px;
border-radius: 30px;
width: 60%;
position: absolute;
left: 50%;
transform: translateX(-50%);
}
.collapsible-header {
  border-radius: 30px;
}
.collapsible-head {
  margin-left: 40px;
  font-family: "Montserrat Medium";
}
.collapse-logo {
    position: absolute;
      max-width: 100%;
      height: 35px;
      margin-top: -6px;
}
.collapse-text {
  font-family: "Montserrat Regular";
}
