.allHomes_box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 20px 0 20px 0;
}

.swiper_style {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #aeafaf;
  max-height: auto;
  min-height: 350px;
  width: 100%;
  /* border-radius: 20px; */
}


.swiper-button-next,
.swiper-button-prev {
  color: rgba(253, 247, 247, 0.425);
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: rgba(235, 235, 235, 0.815);
  transition: 100ms;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  transition: 500ms;
}

.allHomes_info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 50px 20px 0;
}

.allHomes_title {
  margin-bottom: 30px;
  font-family: "Montserrat Bold";
}

.allHomes_description {
  font-family: "Montserrat Regular";
}


.allHomes_reservBtn {
  margin-top: 30px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: transparent;
  background: -webkit-linear-gradient(135deg,
      rgb(152, 207, 195),
      rgb(86, 181, 184));
  background: -moz-linear-gradient(135deg,
      rgb(152, 207, 195),
      rgb(86, 181, 184));
  background: linear-gradient(135deg, rgb(152, 207, 195), rgb(86, 181, 184));
  box-shadow: 4px 4px 8px 0px rgba(39, 169, 157, 0.48);
  transition: 400ms;
}

.allHomes_reservBtn_font {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: rgb(0, 0, 0);
  font-family: "Montserrat Light";
  font-weight: 600;
  font-size: 17px;
  padding: 15px;
  text-transform: uppercase;
}

.allHomes_reservBtn:hover {
  transform: scale(1.05);
  transition: 400ms ease-out;
}
